        <div class="filter-wrap">
            <span>Found 70 items, listing 51 to 70</span>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="filter-col" style="margin-right:0;" for="pref-filterby">Filter by</label>
                    <select id="pref-filterby" class="form-control">
                        <option>Country</option>
                    </select>
                </div> <!-- form group [order by] -->
                <div class="form-group">
                    <label class="filter-col" style="margin-right:0;" for="recperpage">Rows per page</label>
                    <select id="recperpage" name="recperpage" class="form-control">
                        <option value="10">10</option>
                        <option selected="selected" value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </div> <!-- form group [rows] -->
            </form>
        </div>