<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><strong>Discover</strong></li>
                    <li><a href="/mockups/privacy-policy.html">menu_about_us</a></li>
                    <li><a href="/mockups/privacy-policy.html">menu_contact_us</a></li>
                    <li><a href="/mockups/privacy-policy.html">menu_qna</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><strong>More about</strong></li>
                    <li><a href="/mockups/privacy-policy.html">menu_terms_conditions</a></li>
                    <li><a href="/mockups/privacy-policy.html">menu_privacy_policy</a></li>
                    <li><a href="/mockups/all-partials.html">All Partials</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><strong>Follow_us</strong></li>
                    <li><a href="http://www.facebook.com/account_name">Facebook</a></li>
                    <li><a href="http://twitter.com/account_name">Twitter</a></li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                <a href="/mockups/" title="sys_back_to_homepage" class="logo"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <span class="text-muted">&copy; 2099 Company, Inc</span>
            </div>
            <div class="col-xs-6 text-right">
                <a href="#" id="return2top">back_top</a>
            </div>
        </div>
    </div>
</footer>
