<div class="page-header">
    <div class="row navbar-mini">
        <div class="col-xs-6 hidden-xs">
            <small>some text <a href="/mockups/page.html">Link</a> | <a href="/mockups/page.html">Link</a></small>
        </div>
        <div class="col-md-6 col-xs-offset-0 text-right" role="navigation">
            <a href="/mockups/my-account.html" class="avatar">
                <img src="/upload/avatars/ickname.jpg" alt="" width="26">
                <span>Nickname</span>
            </a> |
            <a href="/mockups/grid-list.html">Link 01</a> |
            <a href="/mockups/grid-list.html">Link 02</a> |
            <a href="/mockups/grid-list.html">Link 03 <div class="alert-count">+99</div></a> |
            <a href="#">Log out</a>
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/mockups/">Project_Name</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/mockups/">Home</a></li>
                    <li><a href="/?ccc">Link here</a></li>
                    <li><a href="/?ccc">Link here</a></li>
                    <li><a href="/?ccc">Link here</a></li>
                    <li><a href="/?ccc">Link here</a></li>
                    <li><a href="/?ccc">Link here</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
